<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="Database"
                name="dbTarget"
                connectionString="Server=localhost;Port=5432;Database=glossary_db;;Username=postgres;Password=admin"
                commandText="insert into logs(message, datetime) values (@msg, @datetime);">
            <parameter name="@datetime" layout="${datetime}" />
            <parameter name="@msg" layout="${message}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="dbTarget" />
    </rules>
</nlog>
